/*Layout*/
input, select {
	padding: 0.2em 0.5em;	
	font-size: 1.1em;
}

.my-appliances input, .stars {
	width: 20em;
}

.stars {
	position: relative;
	display: block;
}

.navbox-wrap{
	position: absolute;
	width: 30%;
}

.main-logo-wrap {
	position: relative;
	height: 100px;
}

.logo {
	position: absolute;
	left: 2px;
	right: 2px;
	top: 0px;
	bottom: 0px;
	margin: 0px 8px;
}

.navbox, .main-logo-wrap {
	width: 95%;
	padding-left:0px;
	margin: 2px auto;
	max-width: 300px;
}

.navbox {
	list-style:none;
}

.navbox li {
	margin: 10px;
	padding: 10px 10px;
}

.content-wrap {
	position: absolute;
	right:50px;
	left: 30%;
	min-width: 400px;
}

.content {
	position: relative;
	min-width: 400px;
}

.appliance-table th {
	word-wrap: none;	
}

.header {
	padding-left: 1em;
	font-size: 1.75em;
	margin-top: 2px;
	padding: 0.5em 1em;
}

.result-box {
	margin: 0.1em;
	position: relative;
}

.result-box h2 {
	width: 100%;
	text-align: center;
}

.results {
	position: relative;
	left: 0px;
	right: 0px;
	margin-top: 2em;
	min-width: 300px;
}

.temperature {
	height: 25ex;
	width: 60%;
	font-weight: bold;
}

#tempValue {
	position: relative;
	font-size: 6.5em;
	font-weight: bold;
	margin: 0.1em auto;
	width: 3em;
}

#showbox {
	position: absolute;
	top: 0px;
	left: 60%;
	margin-left: 0.5em;
}

/*style*/

body {
	font-family: "Calibri (body)", "Calibri", "sans-serif";
}

.logo {
	background-color: #AAAAAA;
}

.header {
	color: white;
	background-color: rgb(16,91,99); 	
}

.navbox li {
	background-color: #525252;	
	color: white;
}

.navbox .active, .navbox .active:hover {
	background-color: rgb(24,136,148);
}

.navbox .navigable:hover {
	background-color: #1EA9B8;	
}

.result-box h2 {
	background-color: rgb(140,140,140);
}

.temperature {
	background-color: rgb(229,235,242);	
}

