/*Layout*/
.navbox-wrap{
	position: absolute;
	width: 30%;
}

.main-logo-wrap {
	position: relative;
	height: 100px;
}

.logo {
	position: absolute;
	left: 2px;
	right: 2px;
	top: 0px;
	bottom: 0px;
}

.navbox, .main-logo-wrap {
	width: 95%;
	padding-left:0px;
	margin: 2px auto;
	max-width: 300px;
}

.navbox {
	list-style:none;	
}

.navbox li {
	margin: 10px;
	padding: 10px 10px;
}

.content-wrap {
	position: absolute;
	right:50px;
	left: 30%;
	min-width: 400px;
}

.content {
	position: relative;
	min-width: 400px;
}

.banner {
	font-size: 1.25em;
	height: 100px;
}

/*style*/
body {
		font-family: "Calibri (body)", "Calibri", "sans-serif";
}

.logo {
	background-color: #AAAAAA;
	margin: 5px 8px;	
}

.navbox li {
	background-color: #525252;	
	color: white;
}

.navbox .active, .navbox .active:hover {
	background-color: rgb(24,136,148);
}
